nav input{
    background-color: transparent;
    border: none;
    color: $white-color;
    letter-spacing: 0.1em;
}

nav input:active, nav input:focus{
    opacity: 1;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

nav button{
    background: none;
    border: none;
}

@media (max-width:1000px) {
    nav input{
        width: 100%;
    }
}