@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 64pt;
    color: $white-color;
}

// NAVBAR

.mobile-menu a{
    text-decoration: none;
    color: $white-color;
    font-size: 32pt;
    transition: all .3s ease;
    padding: 1em 0;
}

nav a{
    text-decoration: none;
    color: $white-color;
    font-size: 14pt;
    transition: all .3s ease;
}

@for $i from 1 through $repeat {
    nav a:hover:nth-child(#{length($aleatcolors)}n+#{$i}) {
        color: lighten(nth($aleatcolors, random(length($aleatcolors))), 20%);
    }
}

@for $i from 1 through $repeat {
    .mobile-menu a:hover:nth-child(#{length($aleatcolors)}n+#{$i}) {
        color: lighten(nth($aleatcolors, random(length($aleatcolors))), 20%);
    }
}

nav input{
    font-size: 1em;
}

// LANDING PAGE

.landing-page h1{
    color: $white-color;
    font-size: 13vw;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
    .landing-page h1{
        font-size: 5em;
    }
}

.landing-page #baseline{
    color: $white-color;
    font-size: 14pt;
}

.use-content{
    color: $white-color;
}

.use-content h2{
    font-size: 30pt;
}

.use-content p{
    font-size: 14pt;
}
