@import 'base/colors';
@import 'base/typo';

@import 'components/buttons';

@import 'layout/navigation';

@import 'pages/landing';

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: $black-color;
}