.mobile-menu{
    display: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    height: 10vh;
}

nav .nav-part-ext img{
    width: 5em;
    height: auto;
}

nav .nav-part-ext{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav .newsletter-input{
    background-color: transparent;
    border: $white-color 1px solid;
    border-radius: .5em;
    padding: 0.5em 1em;
    cursor: pointer;
    outline: none;
    color: $white-color;
    letter-spacing: 0.1em;
    transition: all 0.3s ease;
    width: 50%;
    opacity: .75;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .newsletter-input:active, nav .newsletter-input:focus{
    opacity: 1;
    transition: all 0.3s ease;
}

nav .newsletter-input img{
    color: white;
    width: 20px;
    height: auto;
    margin: 0;
}

nav .nav-part-int{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

nav .nav-part-int .desktop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

nav .nav-part-int .mobile{
    display: none;
}

nav .nav-part-int .isActive::after{
    content: '°';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// NAV RESPONSIVE MOBILE

@media (max-width:1000px) {
    .mobile-menu{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, .8);
        backdrop-filter: blur(10px);
        position: absolute;
        z-index: 1;
        position: fixed;
    }

    .mobile-menu img{
        width: 5em;
        height: auto;
    }

    nav{
        flex-direction: column;
    }

    nav img{
        margin-bottom: 1em;
    }

    nav .nav-part-int .desktop{
        display: none;
    }

    nav .nav-part-int .mobile{
        display: block;
    }

    nav .nav-part-int img{
        width: 2em;
        height: auto;
    }

    nav .nav-part-ext{
        width: 100%;
    }
}