.section-scroll{
    height: 100vh;
    margin: 1em 0;
}

.landing-page > div{
    height: 90vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -5em;
}

// Arrow anim

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  .arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 60px;
    opacity: .87;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }  

// RESPONSIVE MOBILE

@media (max-width: 768px) {
    .landing-page h1{
        margin-bottom: 1em;
    }

    .landing-page #baseline{
        font-size: 1.5em;
    }
}


// USE SECTION


.use-section{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.use-section .use-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.use-section .use-left .use-part{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.use-section .use-left .use-part .use-content{
    margin-left: -5em;
}

.use-section .use-right .use-part{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.use-section .use-right .use-part .use-content{
    text-align: right;
    margin-right: -5em;
}

.use-section .use-content{
    width: 40%;
}

.use-section img{
    height: 20vh;
    width: auto;
}

// USE SECTION RESPONSIVE MOBILE

@media (max-width: 1000px) {
    .section-scroll h2{
      margin-bottom: 2em;
    }

    .use-section{
        flex-direction: column;
        height: 200vh;
    }

    .use-section .use-left{
      justify-content: space-between;
      height: 50%;
      padding-bottom: 5em;
    }

    .use-section .use-left .use-part{
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2em 0;
    }

    .use-section .use-left .use-part .use-content{
      margin-left: 0;
      text-align: center;
    }

    .use-section .use-right{
      height: fit-content;
    }

    .use-section img{
        height: 15vh;
        width: auto;
    }

    .use-section .use-right .use-part{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1vh;
    }

    .use-section .use-right .use-part .use-content{
      text-align: center;
      margin-right: 0;
    }

    .use-section .use-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}